#https://github.com/emebecnc/vz24r2_klipper/blob/master/calibration/calibration_macros.cfg

[gcode_macro BED_MESH]
gcode:
      BED_MESH_CALIBRATE

# [gcode_macro G32]
# gcode:
#       Z_TILT_ADJUST

[gcode_macro PA_TUNING]
gcode: 
	SET_VELOCITY_LIMIT SQUARE_CORNER_VELOCITY=1 ACCEL=500
	TUNING_TOWER COMMAND=SET_PRESSURE_ADVANCE PARAMETER=ADVANCE START=0 FACTOR=.005

[gcode_macro HOTEND_PID]
gcode:   
    {% set tool_temp = params.TEMPERATURE|default(200)|int %}
    {% set tool_name = printer.toolhead.extruder %}
    PID_CALIBRATE HEATER={tool_name} TARGET={tool_temp}

[gcode_macro BED_PID]
gcode:
    {% set bed_temp = params.TEMPERATURE|default(60)|int %}
    PID_CALIBRATE HEATER=heater_bed TARGET={bed_temp}


[gcode_macro SCREWS_TILT]
gcode:
    SCREWS_TILT_CALCULATE

######Square Corner Velocity
#https://github.com/RomRider/klipper-FastGyroidInfill/blob/main/klipper/fast_infill.cfg


[gcode_macro DUMP_WARNINGS]
description: Debug: Print all warning messages from klipper
gcode:
  {% set parameters = ["printer.configfile.warnings:"] %}
  {% for warning in printer.configfile.warnings %}
      {% set parameters = parameters.append("%s -> %s -> %s\n%s" % (warning.type, warning.section, warning.option, warning.message)) %}
  {% endfor %}
  {action_respond_info(parameters|join("\n"))}

[gcode_macro enable_stepper]
gcode:
 SET_STEPPER_ENABLE STEPPER=stepper_x ENABLE=1
 SET_STEPPER_ENABLE STEPPER=stepper_x1 ENABLE=1
 SET_STEPPER_ENABLE STEPPER=stepper_y ENABLE=1
 SET_STEPPER_ENABLE STEPPER=stepper_y1 ENABLE=1


[gcode_macro disable-steppers]
gcode:
 m84