[gcode_macro G1]
rename_existing: G99999
gcode:
    {% set p=[] %}
    {% for key in params %}
      {% set p = p.append(key + params[key]) %}
    {% endfor %}
    {% if params.F is defined %}
      {% set tuning_speed = 200|int %}
      {% set speed = params.F|int/60 %}
      {% set orig_pa = printer.configfile.settings.extruder.pressure_advance|float %}
      {% set pa = ([orig_pa * ( tuning_speed / speed ), orig_pa]|min) %} #limit PA to max of original value. Better to have lower PA than higher due to underextrusion.
#      {% set pa = (orig_pa * ( tuning_speed / speed )) %}
#      M118 PA difference {pa / orig_pa}%
      SET_PRESSURE_ADVANCE ADVANCE={pa}
    {% endif %}
    G99999 { p|join(" ") }