[include shell_command.cfg]
[include mainsail.cfg]
[include include/steppers.cfg]
[include include/fans.cfg]
[include include/bed.cfg]
[include include/sensorless.cfg]
[include include/quickdraw.cfg]
#[include include/leds.cfg]
[include include/macros.cfg]
#[include include/BatMMU/*.cfg]

#[include KAMP/Adaptive_Mesh.cfg]
#[include KAMP/Line_Purge.cfg]

#[include include/external_mcu/adxl_dongle.cfg]

#PLS MOVE ME SOON test

#updated

[z_tilt] 
z_positions: #Nozzle to GE5C
  -80,  -20
  350, -20
points:
  15, 150
  275, 150
speed: 50
horizontal_move_z: 15
retries: 30
retry_tolerance: 0.080
#retry_tolerance: 0.005

[input_shaper]
#shaper_type_x = mzv
#shaper_freq_x = 96.8
#shaper_type_y = mzv
#shaper_freq_y = 59.8

[printer]
# https://github.com/Piezoid/klipper/blob/ae295ba64b3111b0eb296e1d15adc2ac7b2e6eae/klippy/kinematics/limited_cartesian.py
# kinematics: limited_corexy
# max_velocity: 1000
# max_accel: 30000
# max_accel_to_decel: 30000
# max_x_accel: 25000
# max_y_accel: 10000
# scale_xy_accel: true
# max_z_velocity: 20
# max_z_accel: 1000
# square_corner_velocity: 20
kinematics: corexy
max_velocity: 1000
max_accel: 10000
#max_accel_to_decel: 5000
max_z_velocity: 20
max_z_accel: 300
square_corner_velocity: 10

[exclude_object]

[gcode_arcs] # OrcaSlicer
resolution: 0.1


[idle_timeout]
timeout: 3000 # 5 minutes

[pause_resume]
recover_velocity: 350

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
#USB
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_2F0018001750344D30353320-if00
#UART
#serial: /dev/ttyS0

[firmware_retraction]
retract_length: 0.4
retract_speed: 40
unretract_speed: 40

# Driver6
[extruder]
nozzle_diameter: 0.600
pressure_advance: 0.025
pressure_advance_smooth_time: 0.03

# [firmware_retraction]
# retract_length: 0.5
# retract_speed: 60
# unretract_extra_length: 0.00
# unretract_speed: 60

[probe]
#z_offset: 8.3
pin: PG10
x_offset: -2
y_offset: 20
speed: 5
samples: 3
sample_retract_dist: 5
lift_speed: 20
samples_result: median
samples_tolerance: 5.0
samples_tolerance_retries: 5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [probe]
#*# z_offset = 0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.585000, -0.557500, -0.467500, -0.462500, -0.467500
#*# 	-0.382500, -0.345000, -0.247500, -0.257500, -0.235000
#*# 	-0.085000, -0.087500, 0.000000, -0.035000, -0.055000
#*# 	0.182500, 0.150000, 0.162500, 0.090000, 0.027500
#*# 	0.390000, 0.295000, 0.277500, 0.175000, 0.102500
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 10.0
#*# max_x = 280.0
#*# min_y = 30.0
#*# max_y = 280.0
