[include shell_command.cfg]
[include mainsail.cfg]
[include include/steppers.cfg]
[include include/fans.cfg]
[include include/bed.cfg]
[include include/sensorless.cfg]
[include include/quickdraw.cfg]
#[include include/leds.cfg]
[include include/macros.cfg]
#[include include/BatMMU/*.cfg]

#[include KAMP/Adaptive_Mesh.cfg]
#[include KAMP/Line_Purge.cfg]

#[include include/external_mcu/adxl_dongle.cfg]

#PLS MOVE ME SOON test

#updated

#####################################################################
# 	Bed Z Tilt
#####################################################################
[z_tilt] 
z_positions: #Nozzle to GE5C
  -80,  -20
  350, -20
points:
  15, 150
  275, 150
speed: 50
horizontal_move_z: 15
retries: 30
retry_tolerance: 0.080
#retry_tolerance: 0.005

[input_shaper]
#shaper_type_x = mzv
#shaper_freq_x = 96.8
#shaper_type_y = mzv
#shaper_freq_y = 59.8

[printer]
# https://github.com/Piezoid/klipper/blob/ae295ba64b3111b0eb296e1d15adc2ac7b2e6eae/klippy/kinematics/limited_cartesian.py
# kinematics: limited_corexy
# max_velocity: 1000
# max_accel: 30000
# max_accel_to_decel: 30000
# max_x_accel: 25000
# max_y_accel: 10000
# scale_xy_accel: true
# max_z_velocity: 20
# max_z_accel: 1000
# square_corner_velocity: 20
kinematics: corexy
max_velocity: 1000
max_accel: 10000
#max_accel_to_decel: 5000
max_z_velocity: 20
max_z_accel: 1500
square_corner_velocity: 10

[exclude_object]

[gcode_arcs] # OrcaSlicer
resolution: 0.1


#TODO: COMMENT OUT
#[extruder]
#min_extrude_temp: 0

[idle_timeout]
timeout: 300 # 5 minutes

[pause_resume]
recover_velocity: 350

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[mcu]
#USB
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_2F0018001750344D30353320-if00
#UART
#serial: /dev/ttyS0

[firmware_retraction]
retract_length: 0.4
retract_speed: 40
unretract_speed: 40

# Driver6
[extruder]
nozzle_diameter: 0.600
pressure_advance: 0.025
pressure_advance_smooth_time: 0.03

# [firmware_retraction]
# retract_length: 0.5
# retract_speed: 60
# unretract_extra_length: 0.00
# unretract_speed: 60

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.430
#*# pid_ki = 1.706
#*# pid_kd = 49.760
#*#
#*# [probe]
#*# z_offset = 3.579
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.058750, 0.063125, 0.036250
#*# 	-0.003125, 0.000000, -0.027500
#*# 	-0.070000, -0.071875, -0.076250
#*# x_count = 3
#*# y_count = 3
#*# mesh_x_pps = 3
#*# mesh_y_pps = 3
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 32.64
#*# max_x = 107.62
#*# min_y = 36.05
#*# max_y = 119.05