########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
interpolate: false
uart_pin: PC4
diag_pin: PG6
run_current: 1.68
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 8

[tmc2209 stepper_y]
interpolate: false
uart_pin: PD11
diag_pin: PG9
run_current: 1.68
stealthchop_threshold: 0
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 7
driver_HEND: 8

[tmc2209 stepper_z]
interpolate: false
uart_pin: PC6
#diag_pin: PG10
run_current: 0.650
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 stepper_z1]
interpolate: false
uart_pin: PC7
#diag_pin: PG10
run_current: 0.650
sense_resistor: 0.110
stealthchop_threshold: 0

[tmc2209 extruder]
interpolate: false
uart_pin: PE4
run_current: 0.60 #0.350
sense_resistor: 0.110
stealthchop_threshold: 0

#[tmc2209 stepper_]
#uart_pin: PC7
##diag_pin: PG11
#run_current: 0.650
#stealthchop_threshold: 0


#[tmc2209 extruder1]
#uart_pin: PE4
#run_current: 0.800
#stealthchop_threshold: 0

#[tmc2209 extruder2]
#uart_pin: PE1
#run_current: 0.800
#stealthchop_threshold: 0

#[tmc2209 extruder3]
#uart_pin: PD3
#run_current: 0.800
#stealthchop_threshold: 0
